
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.class
*.properties
build/classes/view/cam/MainView$2.class
*.class
build/classes/view/cam/MainView$2.class
build/classes/view/cam/MainView.form
*.form
build/built-jar.properties
*.properties
build/classes/byacc/Parser.y
*.TXT
nbproject/private/private.properties
*.xml
/dist/
build/classes/byacc/Parser.y
nbproject/private/private.xml
build/built-jar.properties